header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    display: flex;
    list-style: none;
}

.navItem {
    padding: 0 20px;
    cursor: pointer;
    color: #FFD400;
}

.logo {
    padding: 20px;
}

main {
    display: flex;
}

.contentRooms {
    background-color: #f7f7f7;
    width: 100%;
}
.filters {
    width: 20%;
    padding: 20px;
}

.filtersTitle {
    font-family: 'Luckiest Guy', cursive;
    color: #333;
}

.filterPriceTitle, .filterSortTitle {
    color: #FFD400;
    padding: 10px 0;
}

.contentRooms ul {
    list-style: none;
    padding: 0 40px;
}

.contentRooms li {
    padding: 10px;
    background-color: white;
    margin: 25px 0;
    box-shadow: 2px 2px 10px #dfdfdf;
}

.contentRooms li:hover {
    box-shadow: 2px 2px 10px #666;
}

.itemInfo {
    display: flex;
}

.itemImg {
    width: 250px;
}

.itemImg img {
    width: 100%;
}

.itemDescription {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px
}

.itemSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Luckiest Guy', cursive;
}

.button {
    background: #369121;
    border-bottom: solid 5px #036C16;
    color: #fff;
    padding: 10px;
}

.itemPrice {
    background: #000;
    color: #FFD400;
    line-height: 27px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }
    
    .navList {
        padding: 0;
        margin: 0 auto;
    }
    
    main {
        flex-direction: column;
    }
    
    .filters {
        width: 100%;
        padding: 0px 20px 20px 20px;
    }
    
    .filtersContent {
        display: flex;
        justify-content: space-around;
    }
    
    .sortSection, .propertySection {
        width: 40%;
    }
    
    .itemInfo {
        flex-direction: column;
    }
    
    .itemImg {
        width: 100%;
    }
    
    .itemDescription {
        padding: 0;
    }
    
    .itemTitle {
        padding-right: 20px;
    }
  }